<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hangman</title>
    </head>
    <body>
        <h1>hangman</h1>
        <p>A Word: {%for letter in letters %}
                {{letter}}
            {% endfor %}
        </p>

        <form  action="/game" method="post">
            <label for="guess">Guess a Letter</label>
            <input  id="guess" name="guess" >

        </form>
    </body>
</html>
